<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="connect" connectionString="Data Source=.;Initial Catalog=AMS_DATABASE;User ID=sa;Password=1234;"/>
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="mailCfg" value="meet.patel92@live.com"/>
  </appSettings>
  <system.web>
    <!--<customErrors mode="On" defaultRedirect="Add_Member.aspx"></customErrors>-->
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="mpstmealumni@live.com">
        <network defaultCredentials="false" host="smtp.live.com" userName="MPSTME ALUMNI" password="Star@123" enableSsl="true"></network>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>